<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.url }}" class="btn">HomePage</a>
  <a href="#" class="btn">Categories</a>
  <a href="{{ site.url }}/categories/Photo" class="btn">Photo</a>
  <form action="{{ site.baseurl }}/search.html" method="get">
    <label for="search-box">Search</label>
    <input type="text" id="search-box" name="query">
    <input type="submit" value="search">
  </form>
</section>
