<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
    <section class="main-content">
      {{ content }}

      <div id="back-top">
        <a href="#top" title="Top"></a>
	    <script type="text/javascript" src="https://unpkg.com/vanilla-back-to-top@7.2.0/dist/vanilla-back-to-top.min.js"></script>
      </div>

      <div class="PageNavigation">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo; Previous</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">Next &raquo;</a>
        {% endif %}
      </div>
      {% include page-footer.html %}

    </section>

  </body>
</html>
